<div class="container rounded" id="container">
  <form class="card-body" #superForm="ngForm">
    <div class="form-group">
      <div [style.visibility]="notValid ? 'visible' : 'hidden'" class="alert alert-danger">
        Address not valid! Please try again.
      </div>
      <hr class="featurette-divider">

      <div class="input-group mb-4">
        <input class="form-control" type="text" name="address" 
          placeholder = "Address"
          #address
          (keydown.enter)="submit(address.value)"
          (keydown.backspace)="superForm.reset()"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon">Press Enter</span>
        </div>
      </div>
      
      <div class="input-group mb-4">
        <input class="form-control" type="text" name="latitude" 
          placeholder = "Latitude" 
          [ngModel] = "latitude" 
          disabled 
        />
      </div>

      <div class="input-group mb-4">
        <input class="form-control" type="text" name="longitude" 
          placeholder = "Longitude" 
          [ngModel] = "longitude" 
          disabled
        />
      </div>

    </div>
  </form>
</div>

